header {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-container {
    display: flex;
    flex-direction: column;
}