.app-header {
    background-color: #2c2f33; /* slightly darker than --bg-color */
    border-bottom: 1px solid #555;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}


.left,
.center,
.right {
    display: flex;
    align-items: center;
}

.center {
    flex: 1;
    justify-content: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.main-content {
    flex: 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ddd;
    background-color: var(--bg-color);
    color: var(--color-text-secondary);
}

.app-footer {
    display: flex;
    flex-direction: column;
    /* stack by default */
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    gap: 1.5rem;
    /* spacing between sections */
}

.footer-nav {
    display: flex;
    justify-content: center;
    width: 300px;
    gap: 2rem;
}

.footer-nav a {
    text-decoration: none;
    color: #333;
}

.footer-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--bg-color);
}
