.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
}

.left, .center, .right {
    display: flex;
    align-items: center;
}

.center {
    flex: 1;
    justify-content: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-container {
    display: flex;
    flex-direction: column;
}