.dashboard-page {
  background-color: #000;
  color: #EAEAEA;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}


.dashboard-canvas {
  position: relative;
  flex: 1;
  background-color: #121212; 
  border: 2px solid #BBBBBB;
  border-radius: 12px;
  padding: 20px;
  overflow: hidden;
}
