/* Landing page container */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 80px);
  background-color: var(--bg-color);
  font-family: "Inter", system-ui, sans-serif;
  padding: 4rem 2rem;

}

/* Landing content box */
.landing-content {
  text-align: center;
  padding: 6rem 5rem;
  background-color: #1a1a1a;
  border-radius: 1.5rem;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.7);
  max-width: 1400px;
  width: 85%;
  color: #EAEAEA;
  font-size: 1.2rem;
  margin-top: 5vh;
}

/* Headings */
.landing-content h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  color: #EAEAEA;
}

/* Paragraphs */
.landing-content p {
  color: #CCCCCC;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

/* CTA button */
.register-btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #BBBBBB;
  background-color: #35922f;
  color: #fff;
  cursor: pointer;
}

.register-btn {
  background-color: #42b636;
  transform: translateY(-1px);
}


/* Media Queries */

/* Mobile */
@media (max-width: 767px) {

  .landing-page {
    padding: 2rem 1rem;
  }

  .landing-content {
    padding: 3rem 2rem;
    width: 95%;
    border-radius: 1rem;
  }

  .landing-content h2 {
    font-size: 2rem;
  }

  .landing-content p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .register-btn {
    width: 100%;
    text-align: center;
  }

}

/* Tablet Query */
@media (min-width: 768px) and (max-width: 1199px) {
  .landing-page {
    padding: 3rem 2rem;
  }

  .landing-content {
    padding: 4rem 3rem;
    width: 90%;
  }

  .landing-content h2 {
    font-size: 2.5rem;
  }

  .landing-content p {
    font-size: 1.1rem;
  }

  .register-btn {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
  }
}
