/* custom css variables */
:root {
    --bg-color: #1f1f1f;               /* darker but not black */
    --color-text: #EAEAEA;             /* main text, bright */
    --color-text-secondary: #CCCCCC;   /* secondary text, lighter than before */

    --color-notification-btn: #FF4C4C;
    --color-critical: #FF5555;

    --gradient-canvas: linear-gradient(135deg, #512887 0%, #891446 40%, #AE0C00 100%);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--color-text);
    font-family: "Inter", system-ui, sans-serif;
}

/* shared overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 1rem;
    overflow-y: auto;
}

/* shared modal content styling */
.modal-content {
    border-radius: 0.75rem;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    max-width: 600px;
    width: 90%;
}
