/* custom css variables */
:root {
    --bg-color: #1f1f1f;               /* darker but not black */
    --color-text: #EAEAEA;             /* main text, bright */
    --color-text-secondary: #CCCCCC;   /* secondary text, lighter than before */

    --color-projects: #4D8CF7;
    --color-agents: #A074FF;
    --color-notifications: #FF6B6B;
    --color-author: #FF5CA1;
    --color-about: #00BFFF;
    --color-notification-btn: #FF4C4C;
    --color-critical: #FF5555;

    --gradient-canvas: linear-gradient(135deg, #512887 0%, #891446 40%, #AE0C00 100%);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--color-text);
    font-family: "Inter", system-ui, sans-serif;
}